body{
    background-color: #DA77CF;
}


#seccion_letras{
    background: #0CD2A4;
}

#seccion_letras ul {
    list-style-type: none;
    margin: 0;
}

#seccion_letras ul li{
    display: inline;
}
#seccion_letras ul li a{
    color:white;
}

#seccion_letras ul li a:hover{
    text-decoration: none;
    color:white;
}
#seccion_letras ul li a:hover i{
    background: #2D373D
}

#seccion_letras .fa{
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin: 20px
}

#imagen{
    width: 550px;

}
#texto_visitante{
    width: 400px;
    height: 100px;
}

#imagen02{
  width: 400px;
  height: 200px;
}
